$light-text: #bebdbb;
$main-color: #F9B658;
$dark-bg: #171824;
$dark-grey: #1e1f2d;
$dark-blue-grey: #1E3151;
$gradient-bg: linear-gradient(to bottom, rgba(30, 31, 45, 0) 0%, $dark-bg 100%);

// font-family: 'Almarai', sans-serif;
// font-family: 'Barlow', sans-serif;