@import "_colors";
@import "_mixins";
@import "_global";

.card {
  background: $dark-grey;
  border: none;
  border-radius: 6px;
  margin: 0.75rem 0;
  padding-top: 10px;
  overflow: hidden;

  .top {
    border-radius: 6px;
    margin: 0 2px;
    background: $gradient-bg;
    z-index: 3;
  }

  .content {
    z-index: 3;
  }

  .img-circle {
    position: relative;
    text-align: center;

    img {
      width: 93px;
      height: 93px;
      border-radius: 50%;
    }

    span {
      width: 59px;
      height: 29px;
      position: absolute;
      bottom: -1px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 4px;
      background-color: $dark-bg;
      font-family: 'Barlow', sans-serif;
      font-size: 15px;
      font-weight: 600;
      text-align: center;
      direction: ltr;
      padding: 4px 0;
    }
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.37;
    text-align: center;
    @include textGradient;
  }

  .player-details {
    font-size: 12px;
    font-weight: normal;
    line-height: 1.72;
    text-align: center;

    img {
      margin: 0 5px;
    }

    span {
      padding: 0 15px;
    }
  }

  .clubs {
    padding-top: 18px;
    padding-bottom: 14px;

    h3 {
      font-size: 12px;
      line-height: 1.72;
      text-align: center;
      @include textGradient;
      margin-bottom: 0;
    }

    img {
      width: 43px;
      height: 43px;
    }

    img.arrows {
      width: 20px;
    }

    span {
      font-size: 10px;
      font-weight: bold;
      line-height: 0.91;
      text-align: center;
      display: block;
      padding: 7px 0 5px 0;
    }
  }

  .interactions {
    height: 60px;
    background: $dark-grey;

    .comments {
      height: 36px;
      border-radius: 7.3px;
      border: solid 1.2px $dark-blue-grey;
      padding: 5px 10px;
    }

    span {
      font-size: 14.6px;
      line-height: 1.72;
      padding: 0 6px;
    }
  }
}